<footer class="bg-dark py-5">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 my-auto text-center">
            <%= image_tag 'logo-white.png', class:"w-50" %>
          </div>
          <div class="col-sm-6 text-center">
              <a href="https://github.com/glenn-dev" target="_blank">
                  <i class="mx-3 fab fa-github-square text-white fa-4x"></i>
              </a>
              <a href="https://www.linkedin.com/in/glenn-marcano-b59b7414b/" target="_blank">
                  <i class="mx-3 fab fa-linkedin text-white fa-4x"></i>
              </a>
              <a href="https://twitter.com/glennScript" target="_blank">
                  <i class="mx-3 fab fa-twitter-square text-white fa-4x"></i>
              </a>
          </div>
      </div>
  </div>
</footer>