<p id="notice"><%= notice %></p>

  <h1>Bills</h1>

  <% if current_user.user_type_id == 1 || current_user.user_type_id == 2 %>
    <%= link_to 'Nueva Boleta', new_bill_path, remote: true, class:"btn btn-success mb-3" %>
  <% end %>
  <!-- <%#= render 'form', bill: @bill %> -->
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th class="align-middle text-center">#</th>
        <th class="align-middle text-center">Departamento</th>
        <th class="align-middle text-center">Edificio</th>
        <th class="align-middle text-center">Fecha</th>
        <th class="align-middle text-center">Total</th>
        <th class="align-middle text-center">Estado</th>
        <th class="align-middle text-center">Documento</th>
        <th class="align-middle text-center">Voucher</th>
        <th colspan="9"></th>
      </tr>
    </thead>
  
    <tbody id="bills">
      <%= render @bills %>
    </tbody>
  </table>


<!-- New Expenses Modal -->
<div class="modal fade" id="expenses_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="expenses_modal_title" class="modal-title" id="staticBackdropLabel">Nueva Boleta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="expenses_modal_body" class="modal-body">
      
      </div>
    </div>
  </div>
</div>

<!-- Show Modal -->
<div class="modal fade" id="show_bill" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="show_bill_title" class="modal-title" ></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="show_bill_body" class="modal-body">
      
      </div>
    </div>
  </div>
</div>
