<p id="notice"><%= notice %></p>

  <h1>Bills</h1>
  
  <%= link_to 'Nueva Boleta', new_bill_path, remote: true, class:"btn btn-success mb-3" %>
      
  <!-- <%#= render 'form', bill: @bill %> -->
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Departamento</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Documento</th>
        <th>Voucher</th>
        <th>Total</th>
        <th colspan="9"></th>
      </tr>
    </thead>
  
    <tbody id="bills">
      <%= render @bills %>
    </tbody>
  </table>


<!-- New Expenses Modal -->
<div class="modal fade" id="expenses_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="expenses_modal_title" class="modal-title" id="staticBackdropLabel">Nueva Boleta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="expenses_modal_body" class="modal-body">
        
      </div>
    </div>
  </div>
</div>
