$('#expenses_modal').modal()
$('#expenses_modal_body').html('<%= j render 'form', bill: @bill, expenses_detail: @expenses_detail, concept: @concept %>')
$('#submit_bill').click(function(){
    alert('Yeeeeey')
    console.log($('form').trigger('onsubmit'))

    $('form')[1].onsubmit()
})

// <h1>New Bill</h1>local
// <%#= render 'forlocalm', bill: @bill %>
// <%#= link_to 'Back', bills_path %>